.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(45deg, rgb(0, 255, 136), rgb(56, 157, 123));
  }
  
  .register-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 85px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(45deg, rgb(0, 255, 136), rgb(56, 157, 123));
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 85px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
  /* Additional styles for form elements, buttons, and links can be added here */
  